# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# ============= #
# 3DS Max Files #
# ============= #
.max*

.gitconfig

# ================== #
# Plugins and addons #
# ================== #
Assets/Demigiant/*
Assets/Demigiant.meta
Assets/inToUnity/*
Assets/inToUnity.meta
Assets/ProCore/*
Assets/ProCore.meta
Assets/Plugins/Demigiant/*
Assets/Plugins/Demigiant.meta
Assets/Plugins/ProCore/*
Assets/Plugins/ProCore.meta
Assets/DOTween.meta
Assets/DOTween/*

# ================== #
# Production Project #
# ================== #
Project_Santa_Production/*


Assets/Resources/DOTweenSettings.asset
Assets/Resources/DOTweenSettings.asset.meta
